:root{
    --light:rgb(239, 239, 239);
    --dark:rgb(33, 41, 52);
    --green:rgb(89, 171, 110);
    --light2:rgb(233, 238, 245);
    
    
}
.signup-body{
    background-color: var(--dark);
}
.signup.container{
    max-width: 600px;
    background-color: var(--light);
}

.signup-login a{
    text-decoration: none;
}
.signup-login-btn{
    background-color: var(--dark);
    color: var(--light);
}

.signup-login-btn:hover{
    display: block;
    letter-spacing: 2px;
    background-color: var(--light);
    margin: 0 auto;
}


